.image-contributor-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  height: calc(100vh - 98px);
  overflow-y: auto;
}

.image-contributor-item {
  width: 100%;
  object-fit: cover;
}

.image-contributor-item:hover {
  cursor: pointer;
}

.contributor-navigation {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding-top: 20px;
}

.contributor-navigation button {
  font-family: "Hershey-Noailles-Futura-Triplex-Regular";
  font-size: 0.85rem;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 10;
}
