.image-byprompt-grid {
  padding-top: 125px;
  display: flex;
  gap: 10px;
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.image-byprompt-item {
  object-fit: contain;
  flex: 1 1 0; /* Динамическая ширина с учетом gap */
  max-width: 100%;
  min-width: 0;
}

.footer-byprompt-navigation {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 10px;
}

.footer-byprompt-button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
}

.by-prompt-container {
  position: relative;
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.byprompt-header {
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.byprompt-label {
  font-family: "Hershey-Noailles-Futura-Triplex-Regular";
  font-size: 0.85rem;
  color: white;
  opacity: 0.4;
  text-transform: uppercase;
}

.byprompt-progress {
  flex: 1;
  height: 0;
  margin: 0 10px;
  border-bottom: 1px dashed white;
  opacity: 0.4;
}
