.image-byprompt-grid {
  padding-top: 125px;
  display: flex;
  gap: 10px;
}

.image-byprompt-item {
  object-fit: contain;
  width: calc((100vw - 40px - 40px) / 5);
}

.footer-byprompt-navigation {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 10px;
}

.footer-byprompt-button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
}
