@font-face {
  font-family: "Hershey-Noailles-Times"; /* Название шрифта */
  src: url("./../../assets/fonts/Hershey-Noailles/Hershey-Noailles-Times-Triplex-Bold.ttf")
    format("truetype"); /* Путь к шрифту */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hershey-Noailles-Futura-Triplex-Regular"; /* Название шрифта */
  src: url("./../../assets/fonts/Hershey-Noailles/Hershey-Noailles-Futura-Triplex-Regular.ttf")
    format("truetype"); /* Путь к шрифту */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hershey-Noailles-Times-Triplex-Italic-Regular"; /* Название шрифта */
  src: url("./../../assets/fonts/Hershey-Noailles/Hershey-Noailles-Times-Triplex-Italic-Regular.ttf")
    format("truetype"); /* Путь к шрифту */
  font-weight: normal;
  font-style: normal;
}

.App {
  position: relative;
  /* height: 100vh; */
  min-height: 100vh;
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл на мобильных */
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -1px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 1.5rem;
  background-color: black;
}
