.about-container {
  margin-bottom: 45px;
}

.about-container p {
  font-family: "Hershey-Noailles-Times";
  text-align: justify;
  width: 60%;
  max-width: 1000px;
  margin-bottom: 20px;
  color: white;
  opacity: 0.8;
  margin-top: 20px;
}

.about-image-container {
  margin-left: 25%;
}

.about-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.image-caption {
  font-style: italic;
  color: white;
  width: 300px;
  letter-spacing: 1.5px;
}
