.footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 0;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 15px;
}

.footer span {
  opacity: 0.4;
  color: white;
}

.footer-button {
  font-size: 0.85rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
}

.footer-button:hover {
  opacity: 0.3;
}

.footer-button.active {
  opacity: 0.8;
}

.footer-filter {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footer-filter-label {
  padding: 0;
  opacity: 0.4;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
}
